.imagem1{
    width: 300px;
    transition: all 1s;
    cursor: pointer;
}

.imagem1:hover{
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

.imagem2{
    transition: all 0.5s;
    cursor: pointer;
}

.imagem2:hover{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.imagem3{
    transition: all 0.5s;
    cursor: pointer;
}

.imagem3:hover{
    -webkit-transform: scale(1.5);
    filter: scale(1.5);
}
.imagem4{
    transition: all 0.5s;
    cursor: pointer;
}

.imagem4:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,0.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,0.5));
}
.imagem5{
    transition: all 0.5s;
   border: 10px solid transparent;
}

.imagem5:hover{
    border: 10px solid #136497;
    border-radius: 50%;
}
.imagem6{
    transition: all .7s;
   border: 10px solid transparent;
   width: 300px;

}

.imagem6:hover{
    border: 10px solid #b2d3e7;
   border-radius: 50%;
    -webkit-filter: drop-shadow(15px 7px 1px rgba(128, 225, 255, 0.5)));
    filter: drop-shadow(15px 7px 1px rgba(128, 225, 255, 0.5));
    -webkit-transform: rotateZ(-360deg) scake(1.5);
    filter: rotateZ(-360deg) scake(1.5);
}